@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rouge+Script&family=Tangerine:wght@400;700&display=swap');

:root {
    --espresso: #3E2723;
    --peony: #f4c9d6;
    --bubblegum: #fe61b5;
    --strawberry: #c04e6c;
    --palepink: #fcf1f7;
    --palegreen: #438361;
    --fern: #3d862d;
    --acid: #7ed957;
    --asphalt: #302f2c;
    --white: #efede3;
    --black: #000;
    --white: #fff;
    
    --fonte-gracinha: "Tangerine", cursive;
    --fonte-cursiva: "Rouge Script", cursive;
}

html {
    animation: surgir 2s forwards 1;
    scroll-behavior: smooth;
    padding: 0 0 50px 0;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--white);
    color: var(--espresso);
    font-family: var(--fonte-padrao);
    cursor: var(--cursor-auto);
}

a {
    color: var(--asphalt);
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: var(--cursor-pointer);
}


#fontesbutton {
    img {
        height: 15px;
        margin-right: 10px;
    }
    
    margin-top: 20px;
    border: 1.5px solid var(--asphalt);
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: var(--white);
}

#fontesbutton:hover {
    border: var(--peony);
    color: var(--peony);
    border: 1.5px solid var(--peony);
    
    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(7255%) hue-rotate(285deg) brightness(103%) contrast(91%);
    }
}



















header {
    background-color: var(--espresso);
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    
    h1 {
        color: var(--peony);
    }
}

.titulo {
    display: flex;
    margin: 0;
}

#fixedheader {
    position: fixed;
    width: 80%;
    
    background-color: var(--espresso);
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    
    h1 {
        color: var(--peony);
    }
}

.navbar {
    gap: 20px;
    width: 50%;
    text-align: right;
    
    
    .decorona {
        margin: 0 5%;
        text-decoration: none;
        color: var(--peony);
        text-align: center;
        font-size: 1em;
    }
    
    .decorona:hover {
        border-bottom: dashed 1px var(--peony);
        font-weight: 800;
    }
    
    img {
        height: 25px;
        width: 25px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(7255%) hue-rotate(285deg) brightness(103%) contrast(91%);
    }
    
    img:hover {
        transform: scale(1.2);
    }
}

.spananima1 {
    overflow: hidden;
    white-space: nowrap;
    display: inline;
    animation: apagar 0.5s steps(7, end) forwards;
    animation-delay: 5s;
}

.spananima2 {
    overflow: hidden;
    white-space: nowrap;
    width: 0ch;
    animation: digitar 2s steps(19, end) forwards;
    animation-delay: 5.2s;
}

.sumir {
    animation: sumir 0.8s infinite forwards;
}














.labubu {
    margin-left: 0;
    position: relative;
}

.labubu .labubuimagem {
    background-image: url('/imagens/labubu-brown.png');
    transform: rotate(0.05turn);
    min-height: 100%;
    width: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    z-index: 50;
    position: absolute;
    top: 16%;
    right: 10%;
}



.labubu .texto {
    background-color: var(--peony);
    border: solid 1.5px var(--strawberry);
    padding: 2% 5%;
    margin: 5% 10%;
    border-radius: 50px;
    text-align: justify;
    width: 50%;
}

.labubu .texto p {
    margin: 0 10% 0 0;
}

.labubu span {
    font-size: 20px;
    font-weight: 900;
    color: var(--strawberry);
}

#lermateriabutton {
    text-transform: capitalize;
    background-color: var(--strawberry);
    font-weight: 600;
    color: var(--peony);
    border: solid 2px var(--strawberry);
    padding: 10px 15px;
    border-radius: 25px;
    margin: 1% 5%;
}

#lermateriabutton:hover {
    transform: scale(1.1);
}

#descricao {
    font-weight: 600;
    font-style: italic;
    opacity: 0.5;
    font-size: 0.7rem;
    
}












.saibamais {
    margin: 10% 6%;
}

.saibamais span {
    color: var(--strawberry);
}

.saibamais .row {
    display: flex;
    overflow-x: scroll;
    gap: 30px;
}

#card {
    padding: 20px;
    border: 1.5px solid var(--strawberry);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    h5 {
        text-transform: capitalize;
        text-align: left;
        font-size: 15px;
    }
    
    button {
        background-color: var(--strawberry);
        color: var(--white);
        border: solid 1.5px var(--strawberry);
        border-radius: 30px;
        padding: 10px;
        text-size: 10px;
        text-transform: uppercase;
        font-weight: 600;
        align-self: flex-start;
    }
    
    img {
        height: 150px;
        filter: brightness(0) saturate(100%) invert(9%) sepia(10%) saturate(3305%) hue-rotate(321deg) brightness(99%) contrast(81%);
    }
}














.esquizofrenia {
    background-color: var(--espresso);
    max-height: fit-content;
    padding: 80px 100px;
    margin: 80px 0;
    text-align: justify;
    
    h1 {
        color: var(--white);
    }
    
    p {
        color: var(--white);
        width: 600px;
    }
    
    span {
        color: var(--strawberry);
    }
    
    #lermateriabutton {
        background-color: var(--strawberry);
        margin: 0;
    }
}

.flexesquizo {
    display: flex;
    gap: 100px;
}

.imgesquizofrenia {
    background-image: url('/imagens/esquizofrenia-brown.png');
    min-height: 100%;
    width: 1150px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50;
}








.fontes {
    padding: 6% 10% 0 10%;
    text-transform: capitalize;
    
    span {
        font-size: 20px;
        font-weight: 800;
        margin-right: 10px;
        text-decoration: underline solid var(--white);
    }
    
    p {
        text-decoration: underline dotted var(--espresso);
    }
    
    .secaofonte {
        padding: 5% 0 0 0;
    }
    
    h2 {
        text-transform: capitalize;
    }
}

#arrow {
    padding: 0 0 0 20px;
}


















.transtornos {
    padding: 6% 10% 0 10%;
    
    p {
        text-align: justify;
        text-indent: 2em;
    }
    
    span {
        font-weight: bold;
    }
    
    h2 {
        text-transform: capitalize;
    }
}

.infostranstorno {
    padding: 25px 0;
}



















.menu-acessibilidade {
    position: fixed;
    top: 7rem;
    right: 20px;
    z-index: 1000;
}

.menu-acessibilidade #botao-acessibilidade {
    font-weight: 600;
}

.menu-acessibilidade button {
    background-color: var(--espresso);
    color: var(--peony);
    padding: 10px;
    text-transform: capitalize;
    border: solid 1.5px var(--espresso);
    border-radius: 10px;
}

.rotacao-botao {
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button {
    margin-bottom: 5px;
}

.apresenta-lista {
    display: none;
}



.alto-contraste #icontranstorno {
    filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(2%) hue-rotate(211deg) brightness(102%) contrast(101%);
}

.alto-contraste {
    background-color: var(--asphalt);
    color: var(--white);
}

.alto-contraste .labubu .labubuimagem {
    background-image: url('/imagens/labubu-green.png');
}



















@keyframes apagar {
    from {
        width: 7ch;
        opacity: 1;
    }
    
    to {
        width: 0ch;
        opacity: 0;
    }
}

@keyframes digitar {
    from {
        width: 0%;
    }
    
    to {
        width: 100%;
    }
}

@keyframes sumir {
    0% {
        opacity: 100%;
    }
    
    50% {
        opacity: 0%;
    }
    
    100% {
        opacity: 100%;
    }
    
}



@keyframes surgir {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1
    }
}